
section {
  width: 50%;
  height: 200px;
  margin-top: 80px;
  background: white;
  box-shadow: 2px 5px 15px rgba(0,0,0,.1);
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

svg {
  cursor: pointer;
}